.wrap { background: #F7F4EF; }
.leftBox { width: 230px; }
.rightBox { display: inline; width: 660px; margin-right: 45px; }

.box1 { margin-bottom: 10px; }
.box1 dt { height: 185px; overflow: hidden; }
.box1 dd { font-size: 18px; color: #0988B1; line-height: 34px; background: #E1DFD2; text-align: center; }
.box1 dd a { color: #0988B1; }
.box2 { background: #E1DFD2; text-align: center; padding: 60px 0px; }
.box2 h2 { font-weight: normal; font-size: 24px; line-height: 40px; margin-top: 10px; }

.c_breadcrumb { color: #888; padding: 20px 0px; }
.c_breadcrumb a { color: #888; }
.c_title { font-weight: normal; font-size: 24px; line-height: 40px; border-bottom: 1px solid #DFDFDF; text-align: center; padding-bottom: 5px; }
.c_info { color: #000; line-height: 30px; text-align: center; }
.c_info span { margin: 0px 10px; }
.c_content { font-size: 14px; color: #2B2B2B; line-height: 200%; padding: 20px 0px; }
.c_comment { padding: 20px 0px; }
.c_comment h2 { font-size: 18px; color: #740113; line-height: 34px; background: url(../images/b_6.gif) no-repeat left top; text-indent: 75px; }

.jiathisBox { margin-bottom: 40px; }