@charset "utf-8";
#artBox { height: 1%; overflow: hidden; margin-bottom: 10px; padding-bottom: 10px; }
.artLink { line-height: 36px; clear: both; margin: 0px 20px; }
.font_change { text-align: right; width: 880px; height: 30px; overflow: hidden; margin: 0px auto; }
.artTitle { font-family: "黑体"; font-size: 24px; line-height: 30px; text-align: center; width: 880px; margin: 10px auto; }
.artInfo { line-height: 30px; text-align: center; border-bottom: 1px solid #CCC; clear: both; width: 880px; margin: 0px auto 20px auto; padding-bottom: 10px; }
.artInfo a { margin: 0px 5px; }
.media_name { margin-right: 20px; }
.pub_date { margin-right: 15px; }
.artCon { font-size: 14px; line-height: 28px; width: 880px; margin: 0px auto; }
#shareBox { display: inline; float: left; margin-left: 50px; }
.artLabel { font-size: 14px; display: inline; float: right; margin-right: 50px; }
.relatedBox { width: 978px; margin: 0px auto 10px auto; }
.relatedBox h2 { font-size: 14px; line-height: 30px; background: #F1F2F5; text-indent: 20px; }
.relatedBox ul { width: 860px; height: 1%; overflow: hidden; margin: 0px auto; padding: 20px 0px; }
.relatedBox ul li { line-height: 24px; background: url(http://images.china.cn/images1/ch/2012gq/art_3.gif) no-repeat left 8px; display: inline; float: left; width: 410px; padding-left: 20px; }
.font_14 { background: url(http://images.china.cn/images1/ch/2012gq/art_1.gif); display: inline-block; width: 50px; height: 30px; }
.font_14:hover { background: url(http://images.china.cn/images1/ch/2012gq/art_1_1.gif); }
.font_18 { background: url(http://images.china.cn/images1/ch/2012gq/art_2.gif); display: inline-block; width: 50px; height: 30px; }
.font_18:hover { background: url(http://images.china.cn/images1/ch/2012gq/art_2_1.gif); }
#dataBox { background: #F1F2F5; margin: 0px auto 20px auto; }
#dataBox td { font-weight: bold; font-size: 14px; line-height: 30px; background: #FFF; }
#dataBox .xs { font-weight: normal; text-indent: 10px; }

/*页面返回顶部*/
#top { width: 60px; height: 195px; position: fixed; _position: absolute; right: 20px; bottom: 20px; top: auto; }
#top li { width: 60px; height: 60px; overflow: hidden; margin-top: 5px; cursor: pointer; }
#gn1 { background: url(http://images.china.cn/images1/ch/2012gq/kn_i1.gif); }
#gn1:hover { background: url(http://images.china.cn/images1/ch/2012gq/kn_i1_cur.gif); }
#gn2 { background: url(http://images.china.cn/images1/ch/2012gq/kn_i2.gif); }
#gn2:hover { background: url(http://images.china.cn/images1/ch/2012gq/kn_i2_cur.gif); }
#gn3 { background: url(http://images.china.cn/images1/ch/2012gq/kn_i3.gif); }
#gn3:hover { background: url(http://images.china.cn/images1/ch/2012gq/kn_i3_cur.gif); }