/*初始化*/
* { margin: 0; padding: 0; }
body { font-family:  "Microsoft YaHei", "微软雅黑", "SimSun", "宋体"; font-size: 12px; color: #000; line-height: 20px; background: #FFF; }
a { color: #000; text-decoration: none; }
a:hover { color: #FF1D25; }
ol, ul, li { list-style-type: none; }
img { border: none; }

/*全局*/
.fl { float: left; }
.fr { float: right; }
.w380 { width: 380px; }
.w580 { width: 580px; }
.wrap { width: 980px; overflow: hidden; margin: 0px auto 20px auto; zoom: 1; }
.mTitle { font-size: 22px; color: #3D5E2C; line-height: 30px; border-bottom: 1px solid #DFDFDF; margin-bottom: 20px; padding-bottom: 15px; }
.mTitle a { color: #3D5E2C; }
#autopage { color: #666; text-align: center; }
#autopage i, #autopage span, #autopage a { color: #666; line-height: 30px; border: 1px solid #DFDFDF; margin: 0px 5px; padding: 5px 10px; cursor: pointer; }
#autopage i { font-style: normal; cursor: default; }
#autopage .number { color: #666; background: none; border: 1px solid #DFDFDF; cursor: default; }
#autopage .cur { color: #FFF; line-height: 30px; background: #3C5D2B; border: 1px solid #3C5D2B; margin: 0px 5px; padding: 5px 10px; cursor: default; }
.adBox { margin-bottom: 20px; }

/*头部样式*/
.topNav { border-bottom: 1px solid #E7E7E7; width: 100%; height: 49px; overflow: hidden; }
.topNav div { font-size: 24px; line-height: 49px; width: 980px; margin: 0px auto; }
.topNav div a { margin: 0px 45px; }
.topNav div img { float: left; margin-right: 20px; }
.headBox { width: 980px; height: 79px; overflow: hidden; margin: 0px auto; }
.logoInfo { font-size: 14px; color: #666; padding: 35px 0px 0px 30px; }
.militaryForm { border: 1px solid #DFDFDF; margin-top: 35px; }
.inputText { line-height: 30px; border: none; width: 165px; height: 30px; }
.inputBtn { background: url(images/b_1.gif) no-repeat center center; border: none; width: 30px; height: 30px; cursor: pointer; }
.mainBav { border-bottom: 3px solid #3C5D2B; clear: both; width: 100%; height: 45px; }
.mainBav div { font-size: 18px; color: #FFF; line-height: 48px; background: #3C5D2B; text-align: center; width: 980px; height: 48px; margin-left: -490px; position: absolute; left: 50%; }
.mainBav div a { color: #FFF; border-right: 1px solid #989898; float: left; padding: 0px 29px; }
.mainBav div a:hover { background: #314B23; }
.mainBav .last { border: none; padding: 0px 32px; }

/*页尾*/
.footer { line-height: 22px; text-align: center; clear: both; width: 100%; padding: 20px 0px; }