@charset "utf-8";
/*页面顶部*/
#Topbar { color: #666; line-height: 24px; height: 32px; overflow: hidden; margin-bottom: 10px; }
#Topbar div { width: 940px; height: 32px; padding: 0px 20px; }
#Topbar a { color: #666; }
#Topbar p { line-height: 32px; float: left; }
#Topbar ul { display: inline; float: right; margin-top: 8px; }
#Topbar ul li { line-height: 18px; border-left: 1px solid #E8E9ED; display: inline; float: left; padding: 0px 10px; }
#Topbar .Topbar_1 { border: none; }

/*页面头部*/
#LogoHead { height: 80px; overflow: hidden; margin: 0px 25px; }
.guoqing_logo { float: left; }
.china_logo { float: right; padding-right: 50px; }
.cheadSearch { display: inline; float: left; width: 535px; margin: 0px 0px 0px 32px; }
.cheadSeaKey { line-height: 35px; background: url(http://images.china.cn/images1/ch/2012gq/b_1.gif); border: none; float: left; width: 455px; height: 35px; overflow: hidden; }
.cheadSeaSmt { font-family: "微软雅黑"; font-weight: bold; font-size: 18px; color: #FFF; line-height: 35px; background: url(http://images.china.cn/images1/ch/2012gq/b_2.gif); border: none; float: left; width: 80px; height: 35px; overflow: hidden; cursor: pointer; }
.cheadSearch div { height: 30px; }
.cheadSearch p { font-size: 14px; clear: both; padding-top: 5px; }
.cheadSearch p input { margin: 0px 10px 0px 30px; }

/*页面导航*/
#mainBav { font-size: 14px; color: #FFF; line-height: 40px; background: url(http://images.china.cn/images1/ch/2012gq/b_20.gif); text-align: center; height: 40px; }
#mainBav ul { width: 972px; margin: 0px auto; position: relative; }
#mainBav ul li { font-weight: bold; color: #FFF; border-right: 1px solid #B63539; text-align: center; float: left; width: 107px; }
#mainBav ul li a { color: #FFF; }
#mainBav ul li a:hover { text-decoration: none; }
#mainBav ul li div { font-weight: normal; font-size: 12px; color: #D8DBE1; line-height: 35px; background: #F1F2F5; text-align: left; width: 980px; height: 35px; position: absolute; left: -4px; top: 40px; }
#mainBav ul li div a { color: #2D3F4E; margin: 0px 20px; }
#mainBav ul li div a:hover { color: #C54847; }
#mainBav .cur { background: url(http://images.china.cn/images1/ch/2012gq/b_21.gif) no-repeat center top; }

/*滚动新闻*/
#RollingNews { color: #676667; line-height: 35px; background: #F1F2F5; height: 35px; margin-bottom: 10px; }
#RollingNews span { text-align: center; display: inline-block; float: left; width: 225px; }
#RollingNews div { float: left; width: 705px; }
#RollingNews div a { color: #676667; background: url(http://images.china.cn/images1/ch/2012gq/b_3.gif) no-repeat left center; margin-right: 10px; padding-left: 10px; }
#RollingNews .gd { font-weight: bold; color: #C34646; background: none; float: left; padding: 0px; }