@charset "utf-8";
/* updatetime         : 2014-07-28 */
/* designer	          : zengqi */
/* mail 	          : 353963551@qq.com */
/* web development	  : yangfan */
/* mail 	          : 121876723@qq.com */

/* Global */
@media screen and (max-device-width: 320px){body{-webkit-text-size-adjust:none}} 
@media screen and (max-device-width: 480px){body{-webkit-text-size-adjust:none}} 
@media only screen and (-webkit-min-device-pixel-ratio: 2){body{-webkit-text-size-adjust:none}} 
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){body{-webkit-text-size-adjust:none}} 
body { text-align:left; font-size: 12px; height:100%; margin:0px; padding:0px; font-family:"宋体",Arial, Helvetica, sans-serif; }
ul, ol, dl,dt,dd, li { list-style: none; }
html,body,div,span,h1,h2,h3,h4,h5,h6,p,a,img,form,table,input,ul,ol,dl,dt,dd,li { margin:0px; padding:0px; border:0px;}
html { height: 100%; }
img { border: none; }
a { color: #201818; text-decoration:none; }
a:hover { color: #a30100100; text-decoration:none; }
p, a, span, li { white-space: normal; }
input { font-size: 12px; vertical-align: middle; }
@media (max-width:767px) {
.d5_mobile { display:block; }
.d5_pad { display:none; }
.d5_pc { display:none; }
.d5_bigpc { display:none; }
}
@media (min-width:768px) and (max-width:991px) {
.d5_mobile { display:none; }
.d5_pad { display:block; }
.d5_pc { display:none; }
.d5_bigpc { display:none; }
}
@media (min-width:992px) and (max-width:1199px) {
.d5_mobile { display:none; }
.d5_pad { display:block; }
.d5_pc { display:block; }
.d5_bigpc { display:none; }
}
@media (min-width:1200px) {
.d5_mobile { display:none; }
.d5_pad { display:block; }
.d5_pc { display:block; }
.d5_bigpc { display:block; }
}

/* Font */
.fwb { font-weight: bold; }
.fwn { font-weight: normal; }
.ffyh { font-family:"微软雅黑"; }
.ffht { font-family:"黑体"; }
.tdn { text-decoration: none; }
.tdu { text-decoration: underline; }
.tdl { text-decoration: line-through; }

/* Size */
.fs14p { font-size: 14px; }
.fs16p { font-size: 16px; }
.fs18p { font-size: 18px; }
.fs20p { font-size: 20px; }
.fs22p { font-size: 22px; }
.fs24p { font-size: 24px; }
.fs30p { font-size: 30px; }

/* Color */
.c0 { color: #000; }
.cf { color: #fff; }
.cc { color: #ccc; }
.ce { color:#eee; }
.c3 { color:#333; }
.c201818 { color:#201818; }
.c1a2032 { color:#1a2032; }
.c870 { color:#870000; }
.ca30100 { color:#a30100; }
.cc9282d { color:#c9282d; }

/* Text */
.tal { text-align: left; }
.tar { text-align: right; }
.tac { text-align: center; }
.ti2e { text-indent: 2em; }

/* Background */
.bc0 { background-color: #000; }
.bcf { background-color: #fff; }

/* Position */
.zi1 { z-index: 1; }
.zi999 { z-index: 999; }

/* Dimensions */
.h1p { height: 1px; }
.h100per { height: 100%; }
.w100per { width: 100%; }
.lh18p { line-height:18px; }
.lh20p { line-height:20px; }
.lh22p { line-height:22px; }
.lh24p { line-height:24px; }
.lh26p { line-height:26px; }
.lh28p { line-height:28px; }
.lh30p { line-height:30px; }
.lh36p { line-height:36px; }

/* Layout */
.fr { float: right; }
.fl { float: left; }
.oh { overflow: hidden; }
.oa { overflow: auto; }
.os { overflow: scroll; }
.dn { display: none; }
.db { display: block; }
.di { display: inline; }

/* wrapper layout */
.wrapper { width:1000px; }
.wrapper960 { width:960px; }
.wrapper1200 { width:1200px; }

/* Combine Define */
.center { margin-left:auto; margin-right:auto; }
.justify {text-align:justify; text-justify:inter-ideograph;}
.vscape { *zoom:1; }
.vscape:after { clear:both; overflow:hidden; height:0px; padding:0; margin:0; line-height:0px;content: ".";display: block;font-size:0px; }
.clearfix { *zoom:1; }
.clearfix:after { clear:both; overflow:hidden; height:0px; padding:0; margin:0; line-height:0px;content: ".";display: block;font-size:0px; }
.px10 { line-height:0px; font-size:0px; overflow:hidden; }

/*content*/
.p1 { width:270px; height:268px; background:url(http://www.qstheory.cn/index/images/d4_zongshu_1212_01.jpg) no-repeat; float:left; display:inline; margin:0 15px 15px 0; }
.p1 img { width:240px; height:240px; margin:14px 0 0 15px; }

/*index2014 top*/
.index_top { background:url(http://www.qstheory.cn/n5/images/index/d5_index_top01.jpg) repeat-x; height:34px; width:100%; }
.index_top .left { width:500px; float:left; display:inline; }
.index_top .right { width:500px; float:right; display:inline; }
.index_top span { color:#303030; display:block; line-height:32px; }
.index_top span a { color:#303030; text-decoration:none; }
.index_top span a:hover { color:#303030; text-decoration:underline; }

/*index2014 banner*/
.index_banner { width:100%; }
.index_banner .left {}
.index_banner .left span { color:#303030; display:block; line-height:32px; font-family:"微软雅黑"; }
.index_banner .left span a { color:#303030; text-decoration:none; }
.index_banner .left span a:hover { color:#303030; text-decoration:underline; }
.index_banner .icon {}
.index_banner .right {}
.index_banner .right .hoverimg { display:none; }
.index_banner .right a:hover { position:relative; }
.index_banner .right a:hover .hoverimg { display:block; position:absolute; top:-108px; left:30px; }

/*index2014 foot*/
.index_foot_menu { }
.index_foot_menu ul { height:34px; }
.index_foot_menu ul li { color:#888; float:left; display:inline; margin:0 18px; line-height:24px; }
.index_foot_menu ul li a { color:#888; }
.index_foot_menu ul li a:hover { color:#888; text-decoration:underline; }
.index_foot { height:80px; border:solid 1px #e5e5e5; padding-top:10px; text-align:center; line-height:24px; color:#999; }
.index_foot a { color:#999; }
.index_foot a:hover { color:#999; text-decoration:underline; }

/*tongyong foot*/
.tongyong_foot { height:100px; border:solid 1px #e7e7e7; padding-top:20px; text-align:center; line-height:30px; color:#999; }
.tongyong_foot a { color:#999; }
.tongyong_foot a:hover { color:#999; text-decoration:underline; }

/*daodu top*/
.dd_top_bg { background:url(http://www.qstheory.cn/index/images/d4_qsdd_0807_02.jpg) left top repeat-x; height:35px; width:100%; }
.dd_topmenu { height:35px;}
.dd_topmenu ul {}
.dd_topmenu ul li { line-height:35px; font-size:14px; color:#6f7e8d; float:left; display:inline; margin:0 15px; }
.dd_topmenu ul li a { color:#6f7e8d; display:block; font-size:14px; }
.dd_topmenu ul li a:hover { color:#1a2032; font-size:14px; }

/*2014 top*/
.htop { height:75px; background:url(http://www.qstheory.cn/index/images/d4_dklm_0217_02.jpg) repeat-x; }
.htop_left { width:150px; float:left; display:inline; }
.htop_left img { margin:15px 0 0 15px; }
.htop_right { width:850px; float:left; display:inline; }
.htop_right ul { margin-top:10px;}
.htop_right ul li { line-height:18px; font-size:12px; color:#6f7e8d; float:left; display:inline; margin:0 15px; }
.htop_right ul li a { color:#6f7e8d; display:block; }
.htop_right ul li a:hover { color:#1a2032; }
.htop_search { width:400px; height:27px; overflow:hidden; margin:6px 48px 0 0; display:inline; }
.htop_search .text { background:url(http://www.qstheory.cn/index/images/d4_dklm_0217_08.jpg) no-repeat; width:306px; height:27px; overflow:hidden; }

/* channel top */
.topdiv { background:url(http://www.qstheory.cn/images/base/img1.gif) repeat-x; height:10px; width:100%;}
.banner {background: url(http://www.qstheory.cn/images/base/nullpic.gif) no-repeat left top; height: 73px;}
.logo {width: 134px; display: inline; float: left; height: 73px; overflow: hidden;}
.logo_right {width: 866px; display: inline; float: left; height: 73px; overflow: hidden;}
.logo_right h1 {line-height: 28px; width: 866px; height: 28px; overflow: hidden; font-size:12px; font-weight:normal;}
.logo_right h1 span {margin: 0px 12px; color: #d7d7d7;}
.logo_right h1 a:hover {color: #d70000;}
.logo_right dl {display: block; height: 40px; overflow: hidden; }
.logo_right dl dt {padding-left: 2px; margin-top:4px; width: 340px; float: left;}
.logo_right dl dd {margin-top: 12px; width: 403px; float: right;}
.topmenu {background: url(http://www.qstheory.cn/images/base/img4.gif) repeat-x left top; height: 35px; overflow: hidden; }
.topmenu dt {line-height: 32px; display: inline; font-family: "微软雅黑"; float: left; height: 35px; font-weight: bold;}
.topmenu dt a {padding: 0px 11px; font-family: "微软雅黑"; display: block; float: left; height: 100%; color: #000; font-size: 16px;}
.topmenu dt a:hover {background: url(http://www.qstheory.cn/images/base/img6.gif) repeat-x left top; font-family: "微软雅黑";}
.topmenu dd {line-height: 0px; width: 2px; display: inline; background: url(http://www.qstheory.cn/images/base/img5.gif); float: left; height: 35px; font-size: 0px;}

/* page */
#div_currpage {font-family: "微软雅黑";font-weight: bold; font-size:14px; line-height:24px; }
#div_currpage span {background:#093D72; color: #FFFFFF; font-weight: normal; padding: 3px 8px;}
#div_currpage a {color:#000000; padding:0px 8px}