@charset "utf-8";
/* updatetime         : 2014-11-21 */
/* designer	          : zengqi */
/* mail 	          : 353963551@qq.com */
/* web development	  : yangfan */
/* mail 	          : 121876723@qq.com */

/* 响应 */
@media (max-width:767px) {
.tyxl_wrapper { width:100%; }
.topiframe { display:none; }
.xl_top_wrapper { display:none; }
.xl_bg { background:none; }
.xl_left { width:100%; float:left; display:inline; }
.xl_right { display:none; }
.tyxl_con .main { width:95%; margin:0 auto; }
.tyxl_con .main .content p img { width:100%; height:auto; }
.tyxl_con .main .inform .keyword { color:#2b2b2b; font-size:14px; width:100%; }
.tyxl_con .main .func { display:none; }
.tyxl_con .main .erweima { display:none; }
.tyxl_con .main .tjyd .list { width:100%; }
.tyxl_con .main .tjyd .photo { width:100%; margin-top:20px; }
.tyxl_con .main .pdtj { display:none; }
.xl_fwrapper { width:100%; }
.xl_foot_pc { display:none; }
.xl_foot_mobi { width:100%; }
.small{ font-size:18px; line-height:32px; }
.big{ font-size:24px; line-height:42px; }
.spck { width:100%; max-width:640px;  }
}
@media (min-width:768px) and (max-width:991px) {
.tyxl_wrapper { width:95%; }
.topiframe { height:100px; }
.xl_bg { background:none; }
.xl_top_wrapper .left { width:90px; height:90px; float:left; display:inline; }
.xl_top_wrapper .right { width:85%; height:90px; float:right; display:inline; }
.xl_left { width:100%; float:left; display:inline; }
.xl_right { display:none; }
.tyxl_con .main { width:95%; margin:0 auto; }
.tyxl_con .main .content p img { max-width:640px; }
.tyxl_con .main .inform .keyword { float:left; color:#2b2b2b; font-size:14px; width:70%; }
.tyxl_con .main .func { margin-top:20px; }
.tyxl_con .main .erweima { margin:20px auto 0; width:640px; }
.tyxl_con .main .tjyd .list { float:left; width:45%; }
.tyxl_con .main .tjyd .photo { float:right; width:50%; margin-top:20px; }
.tyxl_con .main .pdtj { margin-top:30px; }
.xl_fwrapper { width:100%; }
.xl_foot_pc { width:100%; }
.xl_foot_mobi { display:none; }
.small{ font-size:18px; line-height:32px; }
.big{ font-size:24px; line-height:42px; }
.spck { width:100%; max-width:640px; }
}
@media (min-width:992px) and (max-width:1199px) {
.tyxl_wrapper { width:1000px; }
.topiframe { height:100px; }
.xl_bg { background:url(http://www.qstheory.cn/n5/images/tyxl/d5_tyxl_1119_57.jpg) top center repeat-y; }
.xl_top_wrapper .left { width:90px; height:90px; float:left; display:inline; }
.xl_top_wrapper .right { width:840px; height:90px; float:right; display:inline; }
.xl_left { width:700px; float:left; display:inline; }
.xl_right { width:300px; float:left; display:inline; }
.tyxl_con .main { width:640px; }
.tyxl_con .main .content p img { max-width:640px; }
.tyxl_con .main .inform .keyword { float:left; color:#2b2b2b; font-size:14px; width:70%; }
.tyxl_con .main .func { margin-top:20px; }
.tyxl_con .main .erweima { margin-top:20px; }
.tyxl_con .main .tjyd .list { float:left; width:45%; }
.tyxl_con .main .tjyd .photo { float:right; width:50%; margin-top:20px; }
.tyxl_con .main .pdtj { margin-top:30px; }
.xl_fwrapper { width:1000px; }
.xl_foot_pc { width:100%; }
.xl_foot_mobi { display:none; }
.small{ font-size:14px; line-height:28px; }
.big{ font-size:18px; line-height:36px; }
.spck { width:640px; }
}
@media (min-width:1200px) {
.tyxl_wrapper { width:1000px; }
.topiframe { height:100px; }
.xl_bg { background:url(http://www.qstheory.cn/n5/images/tyxl/d5_tyxl_1119_57.jpg) top center repeat-y; }
.xl_top_wrapper .left { width:90px; height:90px; float:left; display:inline; }
.xl_top_wrapper .right { width:840px; height:90px; float:right; display:inline; }
.xl_left { width:700px; float:left; display:inline; }
.xl_right { width:300px; float:left; display:inline; }
.tyxl_con .main { width:640px; }
.tyxl_con .main .content p img { max-width:640px; }
.tyxl_con .main .inform .keyword { float:left; color:#2b2b2b; font-size:14px; width:70%; }
.tyxl_con .main .func { margin-top:20px; }
.tyxl_con .main .erweima { margin-top:20px; }
.tyxl_con .main .tjyd .list { float:left; width:45%; }
.tyxl_con .main .tjyd .photo { float:right; width:50%; margin-top:20px; }
.tyxl_con .main .pdtj { margin-top:30px; }
.xl_fwrapper { width:1000px; }
.xl_foot_pc { width:100%; }
.xl_foot_mobi { display:none; }
.small{ font-size:14px; line-height:28px; }
.big{ font-size:18px; line-height:36px; }
.spck { width:640px; }
}

/* 页眉 */
.xl_top_wrapper { width:100%; height:100px; background:url(http://www.qstheory.cn/n5/images/tyxl/d5_tyxl_1119_02.jpg) repeat-x; }
.xl_top_wrapper .right ul { width:100%; height:40px; margin-top:10px; }
.xl_top_wrapper .right ul li { font-family:"微软雅黑"; font-size:14px; font-weight:bold; line-height:28px; float:left; display:inline; margin:0 18px; color:#2b2b2b; }
.xl_top_wrapper .right ul li a { color:#2b2b2b; }
.xl_top_wrapper .right ul li a:hover { color:#a30100; }
.xl_top_wrapper .right dl { width:520px; height:29px; margin-left:300px; }
.xl_top_wrapper .right dl dt { width:65px; height:29px; color:#656565; text-align:center; line-height:29px; background:url(http://www.qstheory.cn/n5/images/tyxl/d5_tyxl_1119_07.jpg) no-repeat; float:left; display:inline-block; margin-left:7px; }
.xl_top_wrapper .right dl dt a { color:#656565; }
.xl_top_wrapper .right dl dt a:hover { color:#656565; }
.xl_top_menu { width:100%; background:url(http://www.qstheory.cn/n5/images/tyxl/d5_tyxl_1119_14.jpg) repeat-x top; }
.xl_top_line { width:100%; height:2px; line-height:0px; font-size:0px; background:url(http://www.qstheory.cn/n5/images/tyxl/d5_tyxl_1119_15.jpg) repeat-x; }
.xl_top_line02 { width:100%; height:5px; line-height:0px; font-size:0px; background-color:#a30100; }

/* 主体 */
.xl_left .title { color:#717a89; font-size:20px; font-family:"微软雅黑"; line-height:36px; height:36px; text-align:center; width:90px; font-weight:bold; }
.xl_left .title a { color:#717a89; font-size:20px; }
.xl_left .title a:hover { color:#717a89; font-size:20px; }
.tyxl_line { height:1px; line-height:0px; font-size:0px; background-color:#eee; }

.tyxl_con .main h1 { color:#1a2032; font-size:32px; line-height:46px; font-weight:normal; font-family:"微软雅黑"; margin:30px 0 0 0; }
.tyxl_con .main h2 { color:#1a2032; font-size:18px; line-height:24px; font-weight:normal; font-family:"微软雅黑"; margin:10px 0 15px 0; }
.tyxl_con .main .metadata { float:left; color:#2b2b2b; line-height:24px; display:inline; color:#999; }
.tyxl_con .main .metadata a { color:#999; }
.tyxl_con .main .metadata a:hover { color:#999; }
.tyxl_con .main .fontsize { float:right; width:80px; margin-top:20px; }
.tyxl_con .main .share { float:right; width:130px; margin-top:20px; }

.tyxl_con .main .content { margin:10px auto; color:#2b2b2b; }
.tyxl_con .main .content p { color:#2b2b2b; margin-top:24px; }
.tyxl_con .main .content p a { color:#1057a7; text-decoration:underline; }
.tyxl_con .main .content p a:hover { text-decoration:underline; color: #175fb0; }
.tyxl_con .main .content .backtop { width:118px; height:35px; margin:50px auto 0; }
.tyxl_con .main .content .backtop a { color:#093d72; }
.tyxl_con .main .content .backtop a:hover { color:#093d72; }

.tyxl_con .main .inform { margin-top:50px; }
.tyxl_con .main .inform .keyword span { float:left; display:block; line-height:28px; }
.tyxl_con .main .inform .keyword ul li { background-color:#e3edf4; line-height:28px; color:#2b2b2b; float:left; display:inline-block; margin-right:5px; margin-bottom:10px; padding:0 10px; }
.tyxl_con .main .inform .keyword ul li a { color:#2b2b2b; display:inline-block; padding:0 10px; }
.tyxl_con .main .inform .keyword ul li a:hover { background-color:#d5e3ed; color:#2b2b2b; display:inline-block; padding:0 10px; }
.tyxl_con .main .inform .edit { float:right; line-height:28px; color:#2b2b2b; font-size:14px; }

.tyxl_con .main .func .bigshare { float:left; width:60%; color:#2b2b2b; font-size:14px; }
.tyxl_con .main .func .bigshare span { float:left; display:block; line-height:28px; }
.tyxl_con .main .func .print { float:right; width:40%; }
.tyxl_con .main .func .print span { line-height:28px; color:#999; font-size:12px; float:right; display:inline; }
.tyxl_con .main .func .print span a { color:#999; }
.tyxl_con .main .func .print span a:hover { color:#999; text-decoration:underline; }

.tyxl_con .main .erweima .module { float:left; display:inline; }
.tyxl_con .main .erweima .module img { width:100px; height:100px; border:1px solid #e5e5e5; padding:24px; }
.tyxl_con .main .erweima .module span { display:block; width:150px; line-height:36px; font-size:14px; font-family:"微软雅黑"; color:#999; text-align:center; }
.tyxl_con .main .erweima .module span a { font-size:14px; color:#999; }
.tyxl_con .main .erweima .module span a:hover { font-size:14px; }

/* 推荐阅读 */
.tyxl_con .main .tjyd { margin-top:20px; }
.tyxl_con .main .tjyd .title { font-size:18px; line-height:40px; font-family:"微软雅黑"; color:#2b2b2b; text-align:left; display:block; border-top:2px solid #2b2b2b; width:100%; }
.tyxl_con .main .tjyd .title a { color:#2b2b2b; display:block; padding-left:15px; font-size:18px; }
.tyxl_con .main .tjyd ul { margin-top:20px; }
.tyxl_con .main .tjyd ul li { font-size:14px; color:#000; line-height:30px; padding-left:15px; background:url(http://www.qstheory.cn/n5/images/tyxl/d5_tyxl_1119_47.jpg) no-repeat 0 15px; }
.tyxl_con .main .tjyd ul li a { color:#000; font-size:14px; }
.tyxl_con .main .tjyd ul li a:hover { color:#a30100; font-size:14px; }
.tyxl_con .main .tjyd .pic { float:left; display:inline; width:50%; height:90px; }
.tyxl_con .main .tjyd .pic img { width:135px; height:90px; }
.tyxl_con .main .tjyd .text { width:50%; float:left; display:inline; font-size:18px; line-height:28px; color:#000; font-family:"微软雅黑"; }
.tyxl_con .main .tjyd .text a { color:#000; font-size:18px; }
.tyxl_con .main .tjyd .text a:hover { color:#a30100; font-size:18px; }

/* 频道推荐 */
.tyxl_con .main .pdtj .tabcon {}
.tyxl_con .main .pdtj .tabcon ul { height:31px; border-left:solid 1px #eee; }
.tyxl_con .main .pdtj .tabcon ul li { color:#2b2b2b; width:91px; height:31px; line-height:30px; cursor:pointer; float:left; display:inline; font-family:"微软雅黑"; font-size:14px; text-align:center; font-weight:bold; background:url(http://www.qstheory.cn/n5/images/tyxl/d5_tyxl_1119_49.jpg) no-repeat; }
.tyxl_con .main .pdtj .tabcon ul li.hover { color:#fff; background:url(http://www.qstheory.cn/n5/images/tyxl/d5_tyxl_1119_48.jpg) no-repeat; width:91px; height:31px; line-height:30px; }
.tyxl_con .main .pdtj .module { border-top:1px #e5e5e5 solid; width:640px; height:230px; }
.tyxl_con .main .pdtj .module .left { float:left; width:50%; margin-top:20px; }
.tyxl_con .main .pdtj .module .right { float:right; width:45%; }
.tyxl_con .main .pdtj .module ul { margin-top:20px; }
.tyxl_con .main .pdtj .module ul li { font-size:14px; color:#000; line-height:30px; padding-left:15px; background:url(http://www.qstheory.cn/n5/images/tyxl/d5_tyxl_1119_47.jpg) no-repeat 0 15px; }
.tyxl_con .main .pdtj .module ul li a { color:#000; font-size:14px; }
.tyxl_con .main .pdtj .module ul li a:hover { color:#a30100; font-size:14px; }
.tyxl_con .main .pdtj .module .pic { float:left; display:inline; width:135px; height:90px; margin-right:20px; }
.tyxl_con .main .pdtj .module .pic img { width:135px; height:90px; }
.tyxl_con .main .pdtj .module .text { width:150px; float:left; display:inline; font-size:18px; line-height:28px; color:#000; font-family:"微软雅黑"; }
.tyxl_con .main .pdtj .module .text a { color:#000; font-size:18px; }
.tyxl_con .main .pdtj .module .text a:hover { color:#a30100; font-size:18px; }

/* 细览右侧 */
.side_width { width:300px; margin:0 auto; }
.side_search { width:300px; height:40px; }
.side_search .text { background:url(http://www.qstheory.cn/n5/images/tyxl/d5_tyxl_1119_19.jpg) no-repeat; width:203px; height:24px; overflow:hidden; }

.side_content { width:300px; background-color:#fff; }
.side_content .con { background:url(http://www.qstheory.cn/n5/images/tyxl/d5_tyxl_1119_44.jpg); width:300px; }
.side_content .con2 { background:url(http://www.qstheory.cn/n5/images/tyxl/d5_tyxl_1119_53.jpg); width:300px; }
.side_content .topad { height:120px; padding-top:15px; }
.side_content .topad img { width:300px; height:120px; }

.side_content .tuijian { margin-top:20px; }
.side_content .tuijian .title { background:url(http://www.qstheory.cn/n5/images/tyxl/d5_tyxl_1119_43.jpg) no-repeat; width:300px; height:44px; }
.side_content .tuijian .title span { font-family:"黑体"; font-size:16px; line-height:46px; padding-left:15px; display:block; color:#000; }
.side_content .tuijian .title span a { color:#000; display:block; }
.side_content .tuijian .title span a:hover { color:#a30100; }
.side_content .tuijian ul { margin:15px 0 0 20px; }
.side_content .tuijian ul li { font-size:14px; color:#000; line-height:30px; padding-left:15px; background:url(http://www.qstheory.cn/n5/images/tyxl/d5_tyxl_1119_47.jpg) no-repeat 0 15px; }
.side_content .tuijian ul li a { color:#000; }
.side_content .tuijian ul li a:hover { color:#a30100; }
.side_content .tuijian .bottom { background:url(http://www.qstheory.cn/n5/images/tyxl/d5_tyxl_1119_50.jpg) no-repeat; width:300px; height:2px; line-height:0px; font-size:0px; }

.side_content .qswp { margin-top:20px; }
.side_content .qswp .title { background:url(http://www.qstheory.cn/n5/images/tyxl/d5_tyxl_1119_52.jpg) no-repeat; width:300px; height:41px; }
.side_content .qswp .title span { font-family:"黑体"; font-size:16px; line-height:43px; padding-left:15px; display:block; color:#000; }
.side_content .qswp .title span a { color:#000; display:block; }
.side_content .qswp .title span a:hover { color:#a30100; }
.side_content .qswp .list { padding:20px 15px 0; height:70px; overflow:hidden; }
.side_content .qswp .list img { width:100px; height:65px; float:left; display:inline; margin-right:20px; }
.side_content .qswp .list span { color:#201818; font-size:14px; line-height:24px; }
.side_content .qswp .list span a { color:#201818; }
.side_content .qswp .list span a:hover { color:#a30100; }
.side_content .qswp .list2 { padding:5px 7px 0; }
.side_content .qswp .list2 img { width:285px; height:190px; }
.side_content .qswp .list2 span { color:#201818; display:block; font-size:14px; line-height:40px; height:40px; padding:0 15px; }
.side_content .qswp .list2 span a { color:#201818; }
.side_content .qswp .list2 span a:hover { color:#a30100; }
.side_content .qswp .bottom { background:url(http://www.qstheory.cn/n5/images/tyxl/d5_tyxl_1119_55.jpg) no-repeat; width:300px; height:2px; line-height:0px; font-size:0px; }

/* 细览底部 */
.xl_mid_l_p { text-align:center; float:left; display:inline; }
.xl_mid_l { text-align:left; float:left; display:inline; }
.xl_mid_m { text-align:left; float:left; display:inline; }
.xl_mid_r { text-align:left; float:left; display:inline; }
.xl_foot_menu { width:100%; }
.xl_foot_menu { color:#888; line-height:28px; text-align:center; }
.xl_foot_menu a { color:#888; margin:0 10px; white-space:nowrap; }
.xl_foot_menu a:hover { color:#888; text-decoration:underline; }
.xl_foot_pc { overflow:hidden; border:solid 1px #e5e5e5; padding:10px 0; text-align:center; line-height:24px; color:#999; width:98%; margin-top:15px; }
.xl_foot_pc a { color:#999; }
.xl_foot_pc a:hover { color:#999; text-decoration:underline; }
.xl_foot_mobi { overflow:hidden; border:solid 1px #e5e5e5; padding:10px 0; text-align:center; line-height:24px; color:#999; width:98%; margin-top:15px; }
.xl_foot_mobi a { color:#999; }
.xl_foot_mobi a:hover { color:#999; text-decoration:underline; }

/* 评论 */
.dc-pub .dp-head h2 {margin: 5px 0 0 0;}
.pinglun .dc-pub .dp-head .dp-head-link-list{display:none;}
.da-comment .do-share{ display:none}
.pinglun #da-comment .dc-list .no-comment {background:none;}
#da-comment .dc-list .dl-head h2 {margin-bottom:0px}

/* 点击复制全文 */
.tooltip { position:absolute; z-index:1070; display:block; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; font-size:12px; font-weight:400; line-height:1.4; visibility:visible; filter:alpha(opacity=0); opacity:0 }
.tooltip.in { filter:alpha(opacity=90); opacity:.9 }
.tooltip.top { padding:5px 0; margin-top:-3px }
.tooltip.right { padding:0 5px; margin-left:3px }
.tooltip.bottom { padding:5px 0; margin-top:3px }
.tooltip.left { padding:0 5px; margin-left:-3px }
.tooltip-inner { max-width:200px; padding:3px 8px; color:#fff; text-align:center; text-decoration:none; background-color:#000; border-radius:4px }
.tooltip-arrow { position:absolute; width:0; height:0; border-color:transparent; border-style:solid }
.tooltip.top .tooltip-arrow { bottom:0; left:50%; margin-left:-5px; border-width:5px 5px 0; border-top-color:#000 }
.tooltip.top-left .tooltip-arrow { right:5px; bottom:0; margin-bottom:-5px; border-width:5px 5px 0; border-top-color:#000 }
.tooltip.top-right .tooltip-arrow { bottom:0; left:5px; margin-bottom:-5px; border-width:5px 5px 0; border-top-color:#000 }
.tooltip.right .tooltip-arrow { top:50%; left:0; margin-top:-5px; border-width:5px 5px 5px 0; border-right-color:#000 }
.tooltip.left .tooltip-arrow { top:50%; right:0; margin-top:-5px; border-width:5px 0 5px 5px; border-left-color:#000 }
.tooltip.bottom .tooltip-arrow { top:0; left:50%; margin-left:-5px; border-width:0 5px 5px; border-bottom-color:#000 }
.tooltip.bottom-left .tooltip-arrow { top:0; right:5px; margin-top:-5px; border-width:0 5px 5px; border-bottom-color:#000 }
.tooltip.bottom-right .tooltip-arrow { top:0; left:5px; margin-top:-5px; border-width:0 5px 5px; border-bottom-color:#000 }

/* 视频 */
#videoArea iframe { width:100%; height:460px;}
@media screen and (min-width:0px) and (max-width: 767px) {
#videoArea iframe{ width:100%; height:200px;}
}